@import "@repo/theme/theme.css";

:root {
  --primary-50: #f6f9f8;
  --primary-100: #c8dad2;
  --primary-200: #9abaad;
  --primary-300: #6c9b87;
  --primary-400: #437c64;
  --primary-500: #295142;
  --primary-600: #2c5243;
  --primary-700: #2a4d3e;
  --primary-800: #213d31;
  --primary-900: #192e25;
  --primary-950: #101e18;

  --secondary-50: #f7f5ed;
  --secondary-100: #ebe3cf;
  --secondary-200: #dacca8;
  --secondary-300: #c9b580;
  --secondary-400: #b29b5b;
  --secondary-500: #9b8750;
  --secondary-600: #857444;
  --secondary-700: #6e6039;
  --secondary-800: #584d2d;
  --secondary-900: #413922;
  --secondary-950: #2b2516;

  --success-50: #f2fbfa;
  --success-100: #b3e4df;
  --success-200: #73cec4;
  --success-300: #33b8a9;
  --success-400: #009e8c;
  --success-500: #008a7a;
  --success-600: #007668;
  --success-700: #006257;
  --success-800: #004e45;
  --success-900: #003a33;
  --success-950: #002622;

  --error-50: #fcf5f5;
  --error-100: #efc3c0;
  --error-200: #e2928c;
  --error-300: #d56057;
  --error-400: #c1352b;
  --error-500: #a82e25;
  --error-600: #902820;
  --error-700: #78211b;
  --error-800: #5f1a15;
  --error-900: #471410;
  --error-950: #2f0d0a;

  --warning-50: #fef7f2;
  --warning-100: #fbd2b3;
  --warning-200: #f8ac73;
  --warning-300: #f58633;
  --warning-400: #e66300;
  --warning-500: #c95600;
  --warning-600: #ac4a00;
  --warning-700: #8f3d00;
  --warning-800: #723100;
  --warning-900: #552400;
  --warning-950: #381800;

  --info-50: #f4f5fc;
  --info-100: #bbc4eb;
  --info-200: #8292da;
  --info-300: #4961c9;
  --info-400: #1b36b2;
  --info-500: #172f9b;
  --info-600: #142885;
  --info-700: #11226e;
  --info-800: #0d1b58;
  --info-900: #0a1441;
  --info-950: #060d2b;
}

.input-border-b-glow {
  position: relative;
}

.input-border-b-glow::after {
  content: "";
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: -2px;
  height: 4px;

  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.25) 40%,
    rgba(255, 255, 255, 0) 60%
  );

  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;

  backdrop-filter: blur(0px);

  transition:
    opacity 0.4s ease-in-out,
    transform 0.4s ease-in-out;

  will-change: opacity, transform, backdrop-filter;
}

.input-border-b-glow:focus-within::after {
  opacity: 1;
  transform: scaleX(1);
  transition: transform 0.4s ease-in-out;
}
