@import "@repo/theme/theme.css";

:root {
  --primary-50: oklch(0.9005 0.0085 168.5022);
  --primary-100: oklch(0.8005 0.0191 166.1537);
  --primary-200: oklch(0.6997 0.0269 167.8212);
  --primary-300: oklch(0.599 0.0351 168.3749);
  --primary-400: oklch(0.5008 0.0453 167.0261);
  --primary-500: oklch(0.4006 0.0525 167.3316);
  --primary-600: oklch(0.3578 0.0437 167.7563);
  --primary-700: oklch(0.3135 0.0353 165.8865);
  --primary-800: oklch(0.2678 0.0254 170.2097);
  --primary-900: oklch(0.2268 0.0185 165.059);
  --primary-950: oklch(0.1782 0.0124 166.8464);

  --secondary-50: #f3faf9;
  --secondary-100: #b6e1da;
  --secondary-200: #7ac8bb;
  --secondary-300: #3daf9c;
  --secondary-400: #0c937c;
  --secondary-500: #0b816d;
  --secondary-600: #096e5d;
  --secondary-700: #085b4d;
  --secondary-800: #06493e;
  --secondary-900: #05362e;
  --secondary-950: #03241e;
}

.input-border-b-glow {
  position: relative;
}

.input-border-b-glow::after {
  content: "";
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: -2px;
  height: 4px;

  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.35) 40%,
    rgba(255, 255, 255, 0) 70%
  );

  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;

  backdrop-filter: blur(0px);

  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;

  will-change: opacity, transform, backdrop-filter;
}

.input-border-b-glow:focus-within::after {
  opacity: 1;
  transform: scaleX(1);
  transition: transform 0.5s;
}
