@import "@repo/theme/theme.css";

:root {
  --primary-50: #f6f9f8;
  --primary-100: #c8dad2;
  --primary-200: #9abaad;
  --primary-300: #6c9b87;
  --primary-400: #437c64;
  --primary-500: #295142;
  --primary-600: #325c4b;
  --primary-700: #2a4d3e;
  --primary-800: #213d31;
  --primary-900: #192e25;
  --primary-950: #101e18;

  --secondary-50: #fcfaf7;
  --secondary-100: #ebe3cf;
  --secondary-200: #dacca8;
  --secondary-300: #c9b580;
  --secondary-400: #b29b5b;
  --secondary-500: #9b8750;
  --secondary-600: #857444;
  --secondary-700: #6e6039;
  --secondary-800: #584d2d;
  --secondary-900: #413922;
  --secondary-950: #2b2516;
}

.input-border-b-glow {
  position: relative;
}

.input-border-b-glow::after {
  content: "";
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: -2px;
  height: 4px;

  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.35) 40%,
    rgba(255, 255, 255, 0) 70%
  );

  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;

  backdrop-filter: blur(0px);

  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;

  will-change: opacity, transform, backdrop-filter;
}

.input-border-b-glow:focus-within::after {
  opacity: 1;
  transform: scaleX(1);
  transition: transform 0.5s;
}
